body {background: #2c2c2c;
    height: auto;
}

aside {
    float: center;
    background: #181818;
    padding: 2%;
    height: 15%;
    color: #fff;
}

aside img{
    width: 50px;
    float: left;
}

aside .logo{
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -3px;
}

aside ul{
list-style: none;
margin-left: -20px;
display:inline-block;

}

aside ul li{
    color: #fff;
    display:inline-block;
    margin-left: 50px;
    margin-top: 10px;
    transition: all 0.6s ease;
}
aside ul a{text-decoration: none;}

aside ul li:hover, aside ul a:hover{
    color: #0099FF;
    text-decoration: none;
    transform: scale(1.20);
}

main .features{
    float: center;
    color: #fff;
    margin-top: 30px;
    text-align: center;
}

main .features h1{font-size: 40px;}
main .features p{max-width:800px; margin: 20px auto;}

.alert-light{
    float: center;
    clear: both;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

#button123{
font-size:10px;
}

form{
float: center;
margin-left: 300px;
margin-right: 300px;
margin-top: 10px;
font-size: 10px;
}

div#create{
    float: center;
    clear: both;
    margin: 50px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

div#venna{
    background: #ffffff;
    clear: both;
    margin-left: 20%;
    margin-right: 20%;
}

ul#cont{
list-style: none;
}

ul#cont a{text-decoration: none;}

img.wordcloud{
width: 70%;
}

.alert-danger {
    font-size: 15px;
    height: auto;
}

.was-validated{
    text-align: center;
    width: 20%;
    margin-left: 40%;
}

.login-logout{
    display:inline-block;
    float: right;
    margin-left: 50px;
    margin-top: 10px;

}

.form-add{
    font-size: 20px;
}

#channel_name{
text-align: left;
margin-left: 10%;
margin-top: 5%;
}

#channel_url{
float: left;
margin-left: 10%;
}

#channel_desc{
text-align: left;
margin-left: 10%;
}

#channel_img{
float: right;
margin-right: 10%;
margin-top: 5%;
width: 200px;
}


img.captcha{
margin-left: -25%;
width: 90px;
}

#register{
  height: 250px;
  width: 400px;
}

#register-button{
margin-top: -150px
}

#login{
  height: 250px;
  width: 400px;
}
