{% extends 'main/layout.html' %}

{% block title %}Предложи канал{% endblock %}

{% block content %}

    <div class="features">
        {% if channel_add %}
            {% for el in channel_add %}
                <div id="create" class="alert alert-light">
                    {% if el.photo %}
                        <img id="channel_img" src="{{ el.photo.url }}">
                    {% endif %}
                    <h2 id="channel_name">{{ el.channel_name }}</h2>
                    <p id="channel_desc">{{ el.channel_desc }}</p>
                    <a id="channel_url" href="{{ el.channel_url }}" target="_blank">Перейти на канал</a>
                    <br>
                    <p id="publish-data">Пользователь: {{ el.user }}, дата публикации: {{ el.time_update }}</p>
                    {% if el.user == request.user or request.user.is_staff %}
                        <a href="{% url 'news-up' el.slug %}" class="btn btn-primary">Редактировать</a>
                        <a href="{% url 'news-delete' el.slug %}" class="btn btn-danger">Удалить</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <h1>У вас нет записей!</h1>
        <br>
        {% endif %}
    <h2>Предложи канал</h2>
      <form class="form-add" method="post" enctype="multipart/form-data">
        {% csrf_token %}<br>
        {{ form.as_p }}<br>
        <span>{{ error }}</span>
        <button type="submit" class="btn btn-success">добавить канал</button>
      </form>
        <br>
    </div>
{% endblock %}
