{% extends 'main/layout.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <p>Данный сайт использует собранные данные для проекта youtube_search_statistics</p>
    <p>Т.к. размер полной БД составляет примерно 5Gb, в проекте используется облегченная версия БД</p>
    <p>При дальнейшем изучении, при помощи машинного обучения, на сайт будет внедрена возможность предсказания колличества просмотров\комментариев для новых видео, исходя из его названия</p>
    <p>В разделе "Каналы" вы можете посмотреть статистические графики для изучаемых каналов по заранее собраным данным </p>
    <p>Скрипты для сбора данных из YouTube-каналов, записи полученных данных в БД, схема работы скриптов и ERD-схема БД находятся в папке "Additionally"  </p>
    <p>Прошу обратить внимание: в формате обучения, все графики формируются вновь при переходе на страницу "Каналы", за исключением  рисунков WorldCloud </p>
    <p>На данном этапе мы рассматриваем следующие каналы:</p>
    {% for el in values %}
        <p>{{ el }}</p>
    {% endfor %}
    <a href="{% url 'about' %}"><button class="btn btn-primary">На страницу обо мне</button></a>
</div>
{% endblock %}
